$text-color: #8f8f8f;
$text-color-error: #b54c4c;
$text-color-info: #a6a6a6;
$primary-color: #566974;
$background-color: #688191;

@import "loader";
@import "licenser";
@import "product";
@import "install";

[hidden]{
  display: none !important;
}

#installer{
  position: fixed;
  inset: 0 0 0 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  background: rgb(0 0 0 / 15%);

  * {
    box-sizing: border-box;
  }

  > .inside{
    display: flex;
    position: relative;

    width: 100%;
    max-width: 700px;
    min-height: 390px;

    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
    border-radius: 4px;
    overflow: hidden;
  }

  p{
    font-size: 1rem;
    line-height: 1.25em;
    color: $text-color;
  }

  #steps{
    width: 100%;

    h2{
      font-size: 1.35em;
      color: #566974;
      margin-bottom: 15px;
    }

    > div{
      display: flex;
      flex-direction: column;
      padding: 25px;
      height: 100%;
    }

    .widget{
      display: flex;
      flex-direction: column;
      margin: 0 0 15px;

      label{
        display: inline-block;
        color: #222;
        font-size: .95rem;
        font-weight: 500;
        margin-bottom: 6px;
      }

      input{
        font-size: .9rem;
        line-height: 0;
        border: 1px solid #688191;
        border-radius: 3px;
        outline-color: $background-color;

        &::placeholder {
          color: $text-color-info;
        }

        &[type="text"]{
          padding: 6px 10px;
        }
      }

      p{
        font-size: .8rem;
        margin: 5px 0 0;
      }

      &.error{

        label, p{
          color: $text-color-error;
        }

        input {
          border-color: $text-color-error;
        }
      }
    }
  }

  .actions{
    margin-top: auto;
    padding-top: 20px;
    text-align: center;

    button{
      display: inline-block;

      width: 100%;
      height: 38px;
      padding: 0 14px;
      margin: 0 5px;

      font-weight: 600;
      line-height: 38px;

      color: $primary-color;
      background-color: transparent;

      text-decoration: none;
      text-align: center;
      white-space: nowrap;
      cursor: pointer;

      border: 1px solid currentColor;
      border-radius: 3px;

      + button{
        margin-top: 8px;
      }

      &[disabled]{
        color: #bfbfbf;
        border-color: #c3c4c5;
        pointer-events: none;
        cursor: not-allowed;
      }

      &.primary{
        color: #fff;
        border-color: $background-color;
        background: $background-color;

        &[disabled]{
          border-color: #c3c4c5;
          background: #d7d7d7;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  #installer{

    #steps {

      h2 {
        font-size: 1.5em;
        margin-bottom: 22px;
      }

      > div{
        padding: 35px;
      }
    }

    .actions {

      button {
        width: auto;

        + button{
          margin-top: 0;
        }
      }
    }
  }
}

