#installer{

  .products{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .product{
    display: flex;
    flex-direction: column;
    max-width: 470px;

    .image{
      position: relative;
      width: 85px;
      height: 85px;

      border: 1px solid #ebebeb;
      border-radius: 50%;
      box-shadow: rgb(0 0 0 / 15%) 0 5px 15px 0;

      margin: 0 auto 20px;
      overflow: hidden;

      img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }

      &:not(:has(img)):after {
        display: block;
        position: absolute;
        inset: 14px;
        content: "";
        background: url('/bundles/productinstaller/icons/assistant.svg') center center no-repeat;
        background-size: contain;
      }
    }

    .content{
      width: 100%;

      .title{
        color: #222;
        font-size: .95rem;
        font-weight: 500;
        margin-bottom: 6px;
      }

      .description{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        line-height: 1.25em;
        color: $text-color;
      }

      .version{
        margin-top: 7px;
        color: $text-color-info;
      }
    }

    + .product{
      margin-top: 30px;
    }
  }
}

@media (min-width: 600px) {
  #installer {

    .product {
      flex-direction: row;

      .image{
        margin: 0 20px 0 0;
      }

      .content{
        width: calc(100% - 90px);
      }
    }
  }
}
