#installer{

  .badge{
    display: inline-block;
    font-size: var(--pi-font-size-small);
    font-weight: var(--pi-font-weight-regular);
    line-height:  var(--pi-font-size-info);

    white-space: nowrap;
    word-break: keep-all;

    padding: 4px 8px;

    background: rgb(249, 250, 251);
    border: 1px solid rgb(229, 231, 235);
    border-radius: 6px;

    &.type{
      border-color: var(--pi-badge-type-border-color);
      background: var(--pi-badge-type-bg-color);
      color: var(--pi-badge-type-color);
    }

    &.registered{
      border-color: var(--pi-badge-registered-border-color);
      background: var(--pi-badge-registered-bg-color);
      color: var(--pi-badge-registered-color);
    }

    &.removed{
      border-color: var(--pi-badge-removed-border-color);
      background: var(--pi-badge-removed-bg-color);
      color: var(--pi-badge-removed-color);
    }

    &.package{
      border-color: var(--pi-badge-package-border-color);
      background: var(--pi-badge-package-bg-color);
      color: var(--pi-badge-package-color);
    }

    &:empty{
      display: none;
    }
  }
}
