#installer .drop-menu{
  position: relative;

  > button{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;

    line-height: 0;

    width: 34px;
    height: 34px;

    color: var(--pi-primary-color);

    border: 0 none;
    background: transparent;
    border-radius: 50%;

    img{
      width: 19px;
      height: auto;
      opacity: .5;
    }
  }

  .drop-list{
    display: none;
    flex-direction: column;
    box-sizing: border-box;

    position: absolute;
    top: 100%;
    right: 0;

    min-width: 100px;
    max-width: 300px;
    width: max-content;
    margin-top: 10px;

    font-size: var(--pi-font-size-info);

    background: #fff;
    border-radius: var(--pi-border-radius-1);
    box-shadow: var(--pi-box-shadow-1);

    > div {
      position: relative;
      line-height: 1.1;

      margin: 2px 10px;
      padding: 8px 10px;
      min-width: 200px;

      cursor: pointer;
      box-sizing: border-box;
      transition: background-color .25s;

      &.disabled{
        color: var(--pi-info-color);
        cursor: default;
        pointer-events: none;
      }

      &.separator{
        margin: 14px 10px 2px;

        &:before{
          display: block;
          content: "";

          position: absolute;
          bottom: calc(100% + 7px);
          left: -10px;
          right: -10px;

          border-top: 1px solid var(--pi-divider-color-1);
        }
      }

      &.highlight {

        &:after{
          position: absolute;
          right: 4px;
          top: 6px;

          content: "";
          display: block;
          background: var(--pi-menu-highlight-color);

          width: 5px;
          height: 5px;

          border-radius: 50%;
        }
      }

      &:first-child{
        margin-top: 10px;
      }

      &:last-child{
        margin-bottom: 10px;
      }

      &:hover:not(.disabled){
        background: var(--pi-button-bg-hover-color);
      }
    }
  }

  button:hover, &.open > button{
    color: var(--pi-button-hover-color);
    background: var(--pi-button-bg-hover-color);

    img{
      opacity: 1;
    }
  }

  &.highlight > button{

    &:after{
      position: absolute;
      right: 2px;
      top: 2px;

      content: "";
      display: block;
      background: var(--pi-menu-highlight-color);

      width: 6px;
      height: 6px;

      border-radius: 50%;
    }
  }

  &.open .drop-list{
    display: flex;
    z-index: 9999;
  }
}
