@charset "UTF-8";
@import "../fonts/inter.css";
:root {
  /** Colors */
  --pi-bg-color: #fff;
  --pi-overlay-bg-color: rgb(0 0 0 / 20%);
  --pi-primary-color: #374953;
  --pi-primary-hover-color: #455b67;
  --pi-color-grey-1: rgb(224 232 237 / 55%);
  --pi-title-color: rgb(17, 24, 39);
  --pi-text-color: #424242;
  --pi-info-color: rgb(107, 114, 128);
  --pi-error-color: #b54c4c;
  --pi-success-color: #1cb636;
  --pi-loading-color: #ffeb94;
  --pi-badge-type-color: rgb(29, 78, 216);
  --pi-badge-type-bg-color: rgb(239, 246, 255);
  --pi-badge-type-border-color: rgb(229, 231, 235);
  --pi-badge-registered-color: rgb(21, 128, 61);
  --pi-badge-registered-bg-color: rgb(240, 253, 244);
  --pi-badge-registered-border-color: rgb(22 163 74 / 56%);
  --pi-badge-removed-color: rgb(185, 28, 28);
  --pi-badge-removed-bg-color: rgb(254, 242, 242);
  --pi-badge-removed-border-color: rgb(209 184 184);
  --pi-badge-package-color: rgb(126, 34, 206);
  --pi-badge-package-bg-color: rgb(250, 245, 255);
  --pi-badge-package-border-color: rgb(229, 231, 235);
  --pi-box-bg-color: #fff;
  --pi-box-bg-hover-color: #F9F9F9;
  --pi-border-color: rgb(229, 231, 235);
  --pi-border-hover-color: rgb(229, 231, 235);
  --pi-button-color: rgb(17, 24, 39);
  --pi-button-hover-color: rgb(17, 24, 39);
  --pi-button-bg-color: transparent;
  --pi-button-bg-hover-color: rgba(0, 0, 0, 0.035);
  --pi-button-border-color: #dedede;
  --pi-button-border-hover-color: rgba(0, 0, 0, 0.06);
  --pi-button-disabled-bg-color: #f9f9f9;
  --pi-button-disabled-border-color: #dfdfdf;
  --pi-divider-color-1: #efefef;
  --pi-divider-color-2: #d3d0d0;
  --pi-box-shadow-1: rgba(0, 0, 0, 0.15) 0 3px 10px 0;
  --pi-box-shadow-2: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  --pi-console-color: #fff;
  --pi-console-bg-color: #2e3031;
  --pi-menu-color: #424242;
  --pi-menu-color-hover: rgb(17, 24, 39);
  --pi-menu-bg-color: #fff;
  --pi-menu-button-bg-hover-color: rgb(240 243 244 / 35%);
  --pi-menu-highlight-color: #d57777;
  --pi-notification-bg-color: #fff;
  --pi-loader-bg: #fff;
  --pi-graphic-text-color: var(--pi-primary-color);
  --pi-graphic-text-bg-color: rgb(240 243 244 / 35%);
  --pi-progress-bullet-from-color: rgba(164,201,168,1);
  --pi-progress-bullet-to-color: rgba(231,219,66,1);
  --pi-progress-bullet-bg-finish: #ade78c;
  --pi-progress-bullet-border-finish: #478c20;
  --pi-progress-bullet-bg-active: #f3ee5b;
  --pi-progress-bullet-border-active: #8f8a2a;
  --pi-progress-bullet-bg-pending: #e7e7e7;
  --pi-progress-bullet-border-pending: #d0d0d0;
  --pi-input-placeholder-color: #c3c3c3;
  --pi-input-color: #424242;
  --pi-input-bg-color: #fff;
  --pi-input-border-color: #c9c9c9;
  --pi-input-border-focus-color: #959595;
  /** Fonts */
  --pi-font-family: "Inter", -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --pi-font-size-base: 15px;
  --pi-font-size-title: 14px;
  --pi-font-size-info: 13px;
  --pi-font-size-console: 13px;
  --pi-font-size-text: 14px;
  --pi-font-size-small: 12px;
  --pi-font-size-h2: 1.20rem;
  --pi-font-size-h3: 1.10rem;
  --pi-font-size-h4: 0.96rem;
  --pi-font-weight-light: 300;
  --pi-font-weight-regular: 400;
  --pi-font-weight-semibold: 500;
  --pi-font-weight-bold: 600;
  --pi-line-height-base: 1.3;
  --pi-line-height-paragraph: 1.5;
  /** Other */
  --pi-spacing-1: 10px;
  --pi-spacing-2: 15px;
  --pi-spacing-3: 25px;
  --pi-spacing-4: 35px;
  --pi-spacing-5: 45px;
  --pi-box-spacing-1: 13px;
  --pi-box-inner-spacing-1: 5px 15px;
  --pi-border-radius-1: 4px;
  --pi-border-radius-2: 8px;
  --pi-border-radius-3: 25px;
}

#installer[data-color-scheme=dark] {
  --pi-bg-color: #222629;
  --pi-overlay-bg-color: rgb(0 0 0 / 35%);
  --pi-primary-color: #ea7777;
  --pi-primary-hover-color: #e37272;
  --pi-color-grey-1: rgb(224 232 237 / 55%);
  --pi-title-color: #f2f2f2;
  --pi-text-color: #dadada;
  --pi-info-color: #BFBFBF;
  --pi-error-color: #dd8080;
  --pi-success-color: #1cb636;
  --pi-loading-color: #ffeb94;
  --pi-badge-type-color: rgb(29, 78, 216);
  --pi-badge-type-bg-color: rgb(239, 246, 255);
  --pi-badge-type-border-color: rgb(229, 231, 235);
  --pi-badge-registered-color: rgb(64 214 120);
  --pi-badge-registered-bg-color: transparent;
  --pi-badge-registered-border-color: rgb(116 227 157 / 56%);
  --pi-badge-removed-color: rgb(208 81 81);
  --pi-badge-removed-bg-color: transparent;
  --pi-badge-removed-border-color: rgb(228 95 95);
  --pi-badge-package-color: rgb(126, 34, 206);
  --pi-badge-package-bg-color: rgb(250, 245, 255);
  --pi-badge-package-border-color: rgb(229, 231, 235);
  --pi-box-bg-color: #222629;
  --pi-box-bg-hover-color: rgb(249 250 251 / 5%);
  --pi-border-color: rgb(91 91 91);
  --pi-border-hover-color: rgb(229, 231, 235);
  --pi-button-color: #fff;
  --pi-button-hover-color: #fff;
  --pi-button-bg-color: transparent;
  --pi-button-bg-hover-color: rgb(255 255 255 / 9%);
  --pi-button-border-color: #575656;
  --pi-button-border-hover-color: #737171;
  --pi-button-disabled-bg-color: rgb(249 249 249 / 18%);
  --pi-button-disabled-border-color: rgb(223 223 223 / 19%);
  --pi-divider-color-1: #454545;
  --pi-divider-color-2: #7a7a7a;
  --pi-box-shadow-1: rgba(0, 0, 0, 0.15) 0 3px 10px 0;
  --pi-box-shadow-2: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  --pi-console-color: #fff;
  --pi-console-bg-color: #131313;
  --pi-menu-color: #e3e3e3;
  --pi-menu-color-hover: #fff;
  --pi-menu-bg-color: #2e3336;
  --pi-menu-button-bg-hover-color: rgb(249 250 251 / 5%);
  --pi-menu-highlight-color: #d57777;
  --pi-notification-bg-color: #2e3336;
  --pi-loader-bg: #2F2F2F;
  --pi-graphic-text-color: #b4b4b4;
  --pi-graphic-text-bg-color: transparent;
  --pi-progress-bullet-from-color: rgba(164,201,168,1);
  --pi-progress-bullet-to-color: rgba(231,219,66,1);
  --pi-progress-bullet-bg-finish: #ade78c;
  --pi-progress-bullet-border-finish: #478c20;
  --pi-progress-bullet-bg-active: #f3ee5b;
  --pi-progress-bullet-border-active: #8f8a2a;
  --pi-progress-bullet-bg-pending: #e7e7e7;
  --pi-progress-bullet-border-pending: #d0d0d0;
  --pi-input-placeholder-color: #808080;
  --pi-input-color: #dadada;
  --pi-input-bg-color: #2f2f2f;
  --pi-input-border-color: #7a7a7a;
  --pi-input-border-focus-color: #959595;
}

@keyframes pi-loader-pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pi-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pi-overlay-fade-in {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: var(--pi-overlay-bg-color);
  }
}
@keyframes pi-loader-spinner {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }
  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }
  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}
@keyframes pi-loader-color {
  0% {
    background-color: rgba(229, 124, 17, 0.2);
    border-color: #e57c11;
  }
  25% {
    background-color: rgba(145, 192, 66, 0.2);
    border-color: #91C042;
  }
  50% {
    background-color: rgba(111, 190, 179, 0.2);
    border-color: #6FBEB3;
  }
  75% {
    background-color: rgba(247, 204, 41, 0.2);
    border-color: #F7CC29;
  }
  100% {
    background-color: rgba(229, 124, 17, 0.2);
    border-color: #e57c11;
  }
}
@keyframes pi-slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes pi-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes pi-scale-in {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
#installer {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 9999;
  font-size: 0;
  letter-spacing: 0;
  text-align: center;
  padding: 10px;
  background: var(--pi-overlay-bg-color);
  -webkit-font-smoothing: antialiased;
}
#installer [hidden] {
  display: none !important;
}
#installer * {
  box-sizing: border-box;
}
#installer > .inside {
  display: inline-flex;
  position: relative;
  width: 100%;
  max-width: 810px;
  min-height: 600px;
  max-height: 100%;
  background: var(--pi-bg-color);
  box-shadow: var(--pi-box-shadow-1);
  border-radius: var(--pi-border-radius-1);
  font-family: var(--pi-font-family);
  font-size: var(--pi-font-size-base);
  text-align: left;
  vertical-align: middle;
  overflow: hidden;
}
#installer > .inside > .loader {
  z-index: 100;
}
#installer.pi--fs > .inside {
  max-width: 100%;
  min-height: 100%;
}
#installer:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#installer .scrollable {
  display: flex;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #c7c7c7 #f0f0f0;
}
#installer .scrollable::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
#installer .scrollable::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px #e3e3e3;
}
#installer .scrollable::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
  border-radius: 10px;
}
#installer .scrollable::-webkit-scrollbar-track, #installer .scrollable::-webkit-scrollbar-thumb {
  border: 0 solid #a5a5a5;
}

#installer #steps {
  width: 100%;
  flex-grow: 1;
}
#installer #steps > div {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: var(--pi-spacing-3);
}
#installer #steps > div .inherit {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#installer .head-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#installer .head-actions .drop-menu {
  top: -2px;
  left: 1px;
}
#installer .actions {
  display: flex;
  flex-direction: column-reverse;
  margin-top: auto;
  padding-top: var(--pi-spacing-3);
}
#installer .actions form {
  width: 100%;
  margin-bottom: var(--pi-spacing-3);
}

@media (min-width: 480px) {
  #installer #steps > div {
    padding: var(--pi-spacing-4);
  }
}
@media (min-width: 600px) {
  #installer #steps > div {
    padding: var(--pi-spacing-5);
  }
  #installer .actions {
    flex-direction: row;
    justify-content: space-between;
  }
  #installer .actions > button:last-child:not(:first-child), #installer .actions > button#resolve {
    margin-left: auto;
  }
}
#installer {
  /**
   * Tom-Select overwrites
   */
}
#installer form input, #installer form select {
  color: var(--pi-input-color);
  background-color: var(--pi-input-bg-color);
  border-color: var(--pi-input-border-color);
}
#installer form input:focus, #installer form select:focus {
  border-color: var(--pi-input-border-focus-color);
}
#installer form input::placeholder, #installer form select::placeholder {
  color: var(--pi-input-placeholder-color);
}
#installer form.fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: calc(-1 * var(--pi-spacing-2));
}
#installer label .info-helper, #installer legend .info-helper {
  position: relative;
  top: -1px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  padding: 3px;
  margin-left: 5px;
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  background: var(--pi-color-grey-1);
  border-radius: 50%;
  opacity: 0.8;
  cursor: pointer;
}
#installer label .info-helper:hover, #installer legend .info-helper:hover {
  opacity: 1;
}
#installer .widget {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px 0 0 0;
}
#installer .widget h3 {
  margin-bottom: 4px;
}
#installer .widget p {
  font-size: var(--pi-font-size-info);
  color: var(--pi-info-color);
  margin: 2px 0 0;
}
#installer .widget p.field-desc {
  height: 18px;
  width: auto;
  max-width: 100%;
  align-self: flex-start;
  overflow: hidden;
  cursor: help;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#installer .widget label {
  display: inline-block;
  color: var(--pi-title-color);
  font-size: var(--pi-font-size-title);
  font-weight: var(--pi-font-weight-semibold);
}
#installer .widget.w50 {
  width: 48%;
}
#installer .widget.m22 {
  padding-top: 22px;
}
#installer .widget.center {
  align-items: center;
}
#installer .widget.text input, #installer .widget.file input {
  font-size: 0.9rem;
  line-height: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  padding: 9px 12px;
  outline: 0 none;
}
#installer .widget.text input#license, #installer .widget.file input#license {
  letter-spacing: 0.8px;
}
#installer .widget.file input {
  cursor: pointer;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDI1NiAyNTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3QgZmlsbD0ibm9uZSIgaGVpZ2h0PSIyNTYiIHdpZHRoPSIyNTYiLz48cGF0aCBkPSJNMjAwLDIyNEg1NmE4LDgsMCwwLDEtOC04VjQwYTgsOCwwLDAsMSw4LThoOTZsNTYsNTZWMjE2QTgsOCwwLDAsMSwyMDAsMjI0WiIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMTIiLz48cG9seWxpbmUgZmlsbD0ibm9uZSIgcG9pbnRzPSIxNTIgMzIgMTUyIDg4IDIwOCA4OCIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMTIiLz48bGluZSBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxMiIgeDE9IjEwNCIgeDI9IjE1MiIgeTE9IjE1MiIgeTI9IjE1MiIvPjxsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEyIiB4MT0iMTI4IiB4Mj0iMTI4IiB5MT0iMTI4IiB5Mj0iMTc2Ii8+PC9zdmc+);
  background-repeat: no-repeat;
  background-position: right 7px center;
  background-size: 20px;
  padding: 6px 30px 6px 10px;
  text-overflow: ellipsis;
  outline: 0 none;
}
#installer .widget.checkbox:not(.multiple) {
  height: 19px;
}
#installer .widget.checkbox input {
  position: absolute;
  z-index: 0;
  -webkit-appearance: none;
}
#installer .widget.checkbox input:disabled + label {
  cursor: default;
}
#installer .widget.checkbox input:disabled + label:before, #installer .widget.checkbox input:disabled + label:after {
  filter: grayscale(1) opacity(0.5);
}
#installer .widget.checkbox input:checked + label:before {
  border-color: var(--pi-input-border-color);
  background-color: var(--pi-color-grey-1);
}
#installer .widget.checkbox input:checked + label:after {
  opacity: 1;
}
#installer .widget.checkbox label {
  position: relative;
  cursor: pointer;
  line-height: 1.3;
  padding-left: 31px;
  font-weight: 400;
}
#installer .widget.checkbox label span {
  display: inline-block;
  margin-left: 10px;
  font-size: var(--pi-font-size-info);
  color: var(--pi-info-color);
}
#installer .widget.checkbox label[for^=check_all_] {
  filter: grayscale(1) brightness(1.2);
  margin-bottom: 9px;
  font-size: 0.9rem;
}
#installer .widget.checkbox label:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid var(--pi-input-border-color);
  background-color: var(--pi-color-grey-1);
  transition: color 0.2s linear, background-color 0.2s ease-in-out;
  position: absolute;
  left: 0;
  top: -2px;
  z-index: 5;
}
#installer .widget.checkbox label:after {
  opacity: 0;
  content: "";
  position: absolute;
  left: 6px;
  top: 4px;
  width: 10px;
  height: 10px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjAuMjg1IDJsLTExLjI4NSAxMS41NjctNS4yODYtNS4wMTEtMy43MTQgMy43MTYgOSA4LjcyOCAxNS0xNS4yODV6Ii8+PC9zdmc+");
  background-size: contain;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  z-index: 10;
}
#installer .widget.error label, #installer .widget.error p {
  color: var(--pi-error-color);
}
#installer .widget.error input {
  border-color: var(--pi-error-color);
}
#installer fieldset {
  margin-top: 0;
}
#installer fieldset legend {
  margin-bottom: 8px;
}
#installer fieldset .tl_checkbox + label {
  width: 100%;
  margin: 3px 0;
}
#installer div.fieldset {
  position: relative;
  width: 100%;
  height: 15px;
}
#installer div.fieldset.start {
  margin: 20px 0 5px 0;
}
#installer div.fieldset.start label {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding-right: 10px;
  background: #fff;
  color: var(--pi-title-color);
}
#installer div.fieldset.start:after {
  position: absolute;
  z-index: 0;
  top: 10px;
  left: 0;
  content: "";
  height: 1px;
  width: 100%;
  background: var(--pi-info-color);
}
#installer div.fieldset.end:last-child {
  display: none;
}
#installer .ts-wrapper.multi .ts-control > div.active {
  background: var(--pi-input-bg-color);
}
#installer .focus .ts-control {
  box-shadow: none;
  border-color: var(--pi-input-border-focus-color);
}
#installer .ts-control {
  border-radius: 3px;
  color: var(--pi-input-color);
  background-color: var(--pi-input-bg-color);
  border-color: var(--pi-input-border-color);
}
#installer .ts-dropdown {
  color: var(--pi-menu-color);
  background-color: var(--pi-menu-bg-color);
  border-color: var(--pi-input-border-color);
}
#installer .ts-dropdown .optgroup-header, #installer .ts-dropdown .option {
  background-color: var(--pi-menu-bg-color);
}
#installer .ts-dropdown .option {
  position: relative;
}
#installer .ts-dropdown .option:hover, #installer .ts-dropdown .option.active {
  color: var(--pi-menu-color-hover);
  background-color: var(--pi-menu-button-bg-hover-color);
}
#installer .ts-dropdown .option span.info {
  position: absolute;
  right: 10px;
  top: 4px;
  color: var(--pi-info-color);
  background: rgba(255, 255, 255, 0.06);
  border-radius: 4px;
  padding: 0 4px;
}
#installer .ts-dropdown .option span.text {
  display: inline-block;
  padding-left: calc(var(--level, 0) * 10px);
}
#installer .ts-dropdown .option span.text:before {
  content: "";
  display: inline-block;
  position: relative;
  top: 4px;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background-image: url("/bundles/productinstaller/images/icons/connect.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
#installer .ts-dropdown .option.disconnect span:before {
  background-image: url("/system/themes/flexible/icons/parent.svg");
}
#installer .ts-dropdown .option.layout span:before {
  background-image: url("/system/themes/flexible/icons/layout.svg");
}
#installer .ts-dropdown .option.root span:before {
  background-image: url("/system/themes/flexible/icons/pagemounts.svg");
}
#installer .ts-dropdown .option.module span:before {
  background-image: url("/system/themes/flexible/icons/modules.svg");
}
#installer .ts-dropdown .option.error_401 span:before {
  background-image: url("/system/themes/flexible/icons/error_401.svg");
}
#installer .ts-dropdown .option.error_403 span:before {
  background-image: url("/system/themes/flexible/icons/error_403.svg");
}
#installer .ts-dropdown .option.error_404 span:before {
  background-image: url("/system/themes/flexible/icons/error_404.svg");
}
#installer .ts-dropdown .option.copy span:before {
  background-image: url("/system/themes/flexible/icons/copy.svg");
}
#installer .ts-dropdown .option.forward span:before {
  background-image: url("/system/themes/flexible/icons/forward.svg");
}
#installer .ts-dropdown .option.redirect span:before {
  background-image: url("/system/themes/flexible/icons/redirect_1.svg");
}
#installer .ts-dropdown .option.regular span:before {
  background-image: url("/system/themes/flexible/icons/regular.svg");
}
#installer .ts-dropdown .option.article span:before {
  background-image: url("/system/themes/flexible/icons/articles.svg");
}
#installer .ts-dropdown .option.article_inv span:before {
  background-image: url("/system/themes/flexible/icons/articles_.svg");
}

@media (min-width: 600px) {
  #installer .widget.w50 {
    width: 48%;
  }
}
#installer .loader .text {
  font-size: 0.95rem;
  margin-top: 25px;
  color: var(--pi-info-color);
  animation: pi-loader-pulse 1.3s infinite ease;
}
#installer .loader .text:empty {
  display: none;
}
#installer .loader.play .spinner {
  animation: pi-loader-spinner 2s infinite ease;
}
#installer .loader.play .spinner > div {
  animation: pi-loader-color 3s infinite ease;
}
#installer .loader.done .spinner > div {
  background-color: rgba(104, 187, 29, 0.13);
  border: 1.6px solid #68bb1d;
}
#installer .loader.fail .spinner > div {
  background-color: rgba(187, 48, 29, 0.13);
  border: 1.6px solid #bb7c1d;
}
#installer .loader.inlined {
  display: inline-block;
  padding: 5px;
}
#installer .loader .spinner {
  width: 16px;
  height: 16px;
  transform-style: preserve-3d;
  transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
}
#installer .loader .spinner > div {
  background-color: rgba(126, 126, 126, 0.13);
  border: 1.6px solid #a9a9a9;
  height: 100%;
  position: absolute;
  width: 100%;
}
#installer .loader .spinner div:nth-of-type(1) {
  transform: translateZ(-8px) rotateY(180deg);
}
#installer .loader .spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}
#installer .loader .spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}
#installer .loader .spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}
#installer .loader .spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}
#installer .loader .spinner div:nth-of-type(6) {
  transform: translateZ(8px);
}
#installer .loader.cover {
  position: absolute;
  inset: 0 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--pi-loader-bg);
  backdrop-filter: blur(8px);
}
#installer .loader.cover .spinner {
  scale: 1.5;
}
#installer .loader.cover .text {
  margin-top: 35px;
}

#installer {
  font-family: var(--pi-font-family);
  font-size: var(--pi-font-size-text);
  line-height: var(--pi-line-height-paragraph);
  color: var(--pi-text-color);
}
#installer h2, #installer h3, #installer h4 {
  color: var(--pi-title-color);
  font-family: var(--pi-font-family);
  line-height: var(--pi-line-height-base);
  margin-bottom: var(--pi-spacing-2);
}
#installer h2 {
  font-size: var(--pi-font-size-h2);
  color: var(--pi-primary-color);
}
#installer h3 {
  font-size: var(--pi-font-size-h3);
  color: var(--pi-primary-color);
}
#installer h4 {
  font-size: var(--pi-font-size-h4);
  color: var(--pi-primary-color);
}
#installer p {
  font-family: var(--pi-font-family);
  font-size: var(--pi-font-size-text);
  line-height: var(--pi-line-height-paragraph);
  color: var(--pi-text-color);
}

#installer .graphic {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-size: var(--pi-font-size-info);
  font-weight: var(--pi-font-weight-semibold);
  color: var(--pi-text-color);
  animation: pi-fade-in 0.5s;
  width: 100%;
  height: 100%;
}
#installer .graphic:before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  width: 100%;
  height: 250px;
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
#installer .graphic > span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
  width: max-content;
  max-width: 100%;
  margin: 0 auto var(--pi-spacing-2);
  padding: var(--pi-spacing-1);
  font-weight: var(--pi-font-weight-bold);
  color: var(--pi-graphic-text-color);
  background: var(--pi-graphic-text-bg-color);
  border-radius: var(--pi-border-radius-1);
}
#installer .graphic.no-products:before {
  background-image: url("/bundles/productinstaller/images/graphics/no-products.svg");
}
#installer .graphic.not-installed:before {
  background-image: url("/bundles/productinstaller/images/graphics/not-installed.svg");
}
#installer .graphic.con-inactive:before {
  background-image: url("/bundles/productinstaller/images/graphics/con-inactive.svg");
}
#installer .graphic.con-active:before {
  background-image: url("/bundles/productinstaller/images/graphics/con-active.svg");
}
#installer .graphic.setup-complete:before {
  height: 410px;
  background-image: url("/bundles/productinstaller/images/graphics/setup-complete.svg");
}

#installer .popup {
  position: absolute;
  inset: 0;
  z-index: 500;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  font-size: var(--pi-font-size-info);
  line-height: var(--pi-line-height-paragraph);
  animation: pi-overlay-fade-in 0.25s forwards;
}
#installer .popup p {
  font-size: var(--pi-font-size-info) !important;
  line-height: var(--pi-line-height-paragraph) !important;
}
#installer .popup p.desc {
  margin-bottom: var(--pi-spacing-1) !important;
}
#installer .popup img {
  border-radius: 3px;
}
#installer .popup table {
  border: 0 none;
  border-spacing: 0;
  word-break: break-word;
  border-radius: 3px;
}
#installer .popup table + table {
  margin-top: 20px;
}
#installer .popup table p {
  padding: 0;
  margin: 0;
}
#installer .popup table tr td:last-child {
  font-weight: 500;
}
#installer .popup table tr + tr td {
  border-top: 1px solid var(--pi-divider-color-1);
}
#installer .popup table td {
  padding: 9px 0;
}
#installer .popup table td:first-child {
  vertical-align: top;
  word-break: keep-all;
}
#installer .popup table td:not(:first-child) {
  padding-left: 5px;
}
#installer .popup .inside {
  position: relative;
  min-width: 100%;
}
#installer .popup .inside > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 45px;
  background: var(--pi-bg-color);
  box-shadow: var(--pi-box-shadow-1);
  animation: pi-slide-in 0.25s forwards ease-in-out;
}
#installer .popup .handle {
  display: none;
}
#installer .popup .actions {
  display: block !important;
  width: 100% !important;
  margin-top: auto !important;
  padding-top: var(--pi-spacing-2) !important;
}
#installer .popup .actions button:first-child {
  margin-left: 0;
}

@media (min-width: 600px) {
  #installer .popup .inside {
    min-width: 460px;
  }
  #installer .popup .handle {
    position: absolute;
    top: 50%;
    right: 100%;
    display: block;
    transform: translateY(-50%) translateX(100%);
    cursor: pointer;
    opacity: 0.25;
    transition: opacity 0.2s;
  }
  #installer .popup .handle:before {
    display: block;
    width: 20px;
    height: 20px;
    transform: scale(0.8);
    transition: transform 0.2s;
    background-color: var(--pi-info-color);
    content: "";
    -webkit-mask: url("/bundles/productinstaller/images/icons/menu.svg") no-repeat 50% 50%;
    mask: url("/bundles/productinstaller/images/icons/menu.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
  }
  #installer .popup .handle:hover {
    opacity: 1;
  }
  #installer .popup .handle:hover:before {
    transform: scale(1);
  }
}
#installer .drop-menu {
  position: relative;
}
#installer .drop-menu > button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  line-height: 0;
  width: 34px;
  height: 34px;
  outline: 0 none;
  border: 0 none;
  background: transparent;
  border-radius: 50%;
}
#installer .drop-menu > button:before {
  background-color: var(--pi-info-color);
  content: "";
  -webkit-mask: url("/bundles/productinstaller/images/icons/menu.svg") no-repeat 50% 50%;
  mask: url("/bundles/productinstaller/images/icons/menu.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 20px;
  height: 20px;
  opacity: 0.5;
}
#installer .drop-menu.gear > button:before {
  -webkit-mask: url("/bundles/productinstaller/images/icons/settings.svg") no-repeat 50% 50%;
  mask: url("/bundles/productinstaller/images/icons/settings.svg") no-repeat 50% 50%;
  width: 18px;
  height: 18px;
}
#installer .drop-menu .drop-list {
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 100px;
  max-width: 300px;
  width: max-content;
  margin-top: 10px;
  font-size: var(--pi-font-size-info);
  color: var(--pi-menu-color);
  background: var(--pi-menu-bg-color);
  border-radius: var(--pi-border-radius-1);
  box-shadow: var(--pi-box-shadow-1);
  transform-origin: top right;
  animation: pi-scale-in 0.15s ease-out;
}
#installer .drop-menu .drop-list > div {
  position: relative;
  line-height: 1.1;
  margin: 2px 10px;
  padding: 8px 10px;
  min-width: 200px;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.25s;
}
#installer .drop-menu .drop-list > div.disabled {
  color: var(--pi-info-color);
  cursor: default;
  pointer-events: none;
}
#installer .drop-menu .drop-list > div.separator {
  margin: 14px 10px 2px;
}
#installer .drop-menu .drop-list > div.separator:before {
  display: block;
  content: "";
  position: absolute;
  bottom: calc(100% + 7px);
  left: -10px;
  right: -10px;
  border-top: 1px solid var(--pi-divider-color-1);
}
#installer .drop-menu .drop-list > div.highlight:after {
  position: absolute;
  right: 4px;
  top: 6px;
  content: "";
  display: block;
  background: var(--pi-menu-highlight-color);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
#installer .drop-menu .drop-list > div:first-child {
  margin-top: 10px;
}
#installer .drop-menu .drop-list > div:last-child {
  margin-bottom: 10px;
}
#installer .drop-menu .drop-list > div:hover:not(.disabled) {
  color: var(--pi-menu-color-hover);
  background: var(--pi-menu-button-bg-hover-color);
}
#installer .drop-menu button:hover, #installer .drop-menu.open > button {
  color: var(--pi-button-hover-color);
  background: var(--pi-box-bg-hover-color);
}
#installer .drop-menu button:hover:before, #installer .drop-menu.open > button:before {
  opacity: 1;
}
#installer .drop-menu.highlight > button:after {
  position: absolute;
  right: 2px;
  top: 2px;
  content: "";
  display: block;
  background: var(--pi-menu-highlight-color);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
#installer .drop-menu.open .drop-list {
  display: flex;
  z-index: 9999;
}

#installer button {
  display: inline-block;
  width: 100%;
  height: 38px;
  padding: 0 14px;
  margin: 0 5px;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: var(--pi-button-color);
  background-color: var(--pi-button-bg-color);
  transition: all 0.15s;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid var(--pi-button-border-color);
  border-radius: var(--pi-border-radius-1);
}
#installer button:hover {
  color: var(--pi-button-hover-color);
  background-color: var(--pi-button-bg-hover-color);
  border-color: var(--pi-button-border-hover-color);
}
#installer button.primary {
  color: #fff;
  border-color: var(--pi-primary-color);
  background: var(--pi-primary-color);
}
#installer button.primary:hover {
  border-color: var(--pi-primary-hover-color);
  background: var(--pi-primary-hover-color);
}
#installer button[disabled] {
  color: #bfbfbf !important;
  background-color: var(--pi-button-disabled-bg-color) !important;
  border-color: var(--pi-button-disabled-border-color) !important;
  pointer-events: none !important;
  cursor: not-allowed !important;
}
#installer button + button {
  margin-bottom: var(--pi-spacing-1);
}

@media (min-width: 600px) {
  #installer button {
    width: auto;
  }
  #installer button + button {
    margin-bottom: 0;
  }
}
#installer .badge {
  display: inline-block;
  font-size: var(--pi-font-size-small);
  font-weight: var(--pi-font-weight-semibold);
  line-height: var(--pi-font-size-info);
  white-space: nowrap;
  word-break: keep-all;
  padding: 4px 8px;
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
}
#installer .badge.type {
  border-color: var(--pi-badge-type-border-color);
  background: var(--pi-badge-type-bg-color);
  color: var(--pi-badge-type-color);
}
#installer .badge.registered {
  border-color: var(--pi-badge-registered-border-color);
  background: var(--pi-badge-registered-bg-color);
  color: var(--pi-badge-registered-color);
}
#installer .badge.removed {
  border-color: var(--pi-badge-removed-border-color);
  background: var(--pi-badge-removed-bg-color);
  color: var(--pi-badge-removed-color);
}
#installer .badge.package {
  border-color: var(--pi-badge-package-border-color);
  background: var(--pi-badge-package-bg-color);
  color: var(--pi-badge-package-color);
}
#installer .badge:empty {
  display: none;
}

#installer .box > .inside {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 calc(-1 * var(--pi-box-spacing-1));
  padding: var(--pi-box-spacing-1);
  border-radius: var(--pi-border-radius-1);
  transition: background-color 0.25s;
  cursor: default;
}
#installer .box > .inside[role=button] {
  cursor: pointer;
}
#installer .box > .inside:hover {
  background: var(--pi-box-bg-hover-color);
}
#installer .box .image {
  position: relative;
  width: 50px;
  min-width: 50px;
  height: 50px;
  border: 1px solid var(--pi-border-color);
  border-radius: var(--pi-border-radius-1);
  background: var(--pi-box-bg-color);
  overflow: hidden;
}
#installer .box .image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
#installer .box .image.inset {
  padding: 11px;
}
#installer .box .image.inset img {
  object-fit: contain;
}
#installer .box .image:empty:after {
  content: "";
  display: block;
  position: absolute;
  inset: 10px;
  background: url("/bundles/productinstaller/images/logo.svg") center center no-repeat;
  background-size: contain;
}
#installer .box .content {
  margin: var(--pi-box-inner-spacing-1);
  flex-grow: 1;
}
#installer .box .content .title {
  color: var(--pi-title-color);
  font-size: var(--pi-font-size-title);
  font-weight: var(--pi-font-weight-bold);
  margin-bottom: 5px;
}
#installer .box .content .description {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: var(--pi-font-size-info);
  line-height: var(--pi-line-height-paragraph);
  color: var(--pi-info-color);
}
#installer .box .content .description p {
  font-size: inherit;
  line-height: inherit;
  color: currentColor;
  margin: 0;
}
#installer .box .info {
  display: none;
  min-width: 80px;
  max-width: 80px;
  margin: 0 var(--pi-spacing-2);
}
#installer .box .info .badge {
  margin-bottom: 4px;
}
#installer .box .info .version {
  font-size: var(--pi-font-size-small);
  color: var(--pi-info-color);
}
#installer .box .info .version:before {
  position: relative;
  top: 2px;
  content: url("/bundles/productinstaller/images/icons/version_current.svg") " ";
}
#installer .box .info .version.new {
  color: #0e9a0e;
}
#installer .box .info .version.new:before {
  content: url("/bundles/productinstaller/images/icons/version_update.svg") " ";
}
#installer .box .info .version + .version {
  margin-top: 4px;
}
#installer .box + .box {
  margin-top: 4px;
}

@media (min-width: 480px) {
  #installer .box .info {
    display: block;
  }
}
@media (min-width: 600px) {
  #installer .box .image {
    width: 60px;
    min-width: 60px;
    height: 60px;
  }
  #installer .box .image:not(:has(img)):after {
    inset: 14px;
  }
  #installer .box .content .title {
    margin-bottom: 7px;
  }
  #installer .box .info {
    margin: 0 var(--pi-spacing-3);
  }
}
#installer .process {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--pi-spacing-1);
}
#installer .process-step {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--pi-spacing-3);
  width: 100%;
}
#installer .process-step [data-loader] {
  width: 50px;
}
#installer .process-step .content {
  width: calc(100% - 200px);
}
#installer .process-step .content.has-subtasks {
  width: calc(100% - 50px);
}
#installer .process-step .content .title {
  color: var(--pi-title-color);
  font-size: var(--pi-font-size-title);
  font-weight: var(--pi-font-weight-semibold);
  margin-bottom: 6px;
}
#installer .process-step .content p {
  font-size: var(--pi-font-size-info);
  line-height: var(--pi-line-height-base);
  margin: 0;
}
#installer .process-step .actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 5px 0 0;
  padding: 0;
  align-self: center;
  text-align: left;
}
#installer .process-step .errors {
  width: 100%;
  padding-left: 50px;
  margin: 0;
}
#installer .process-step .errors > p {
  margin: 2px 0 0;
  font-size: 0.8rem;
  color: var(--pi-error-color);
}
#installer .process-step .errors .notification.error p {
  color: var(--pi-error-color);
}
#installer .process-step .errors:not(:empty) {
  margin-top: 5px;
}
#installer .process-step.not-active {
  opacity: 0.5;
}
#installer .process .subtasks .process-step:last-child {
  margin-bottom: 0;
}
#installer .process .subtasks:not(:empty) {
  margin-top: 25px;
}

@media (min-width: 600px) {
  #installer .process-step .content:has(+ .actions) {
    width: calc(100% - 200px);
  }
  #installer .process-step .actions {
    margin: 0;
    width: 150px;
  }
}
#installer div.file-upload {
  flex-grow: 1;
  border-radius: var(--pi-border-radius-3);
  border: 1px dashed var(--pi-border-color);
  background: url("/bundles/productinstaller/images/graphics/upload.svg") center center no-repeat;
  background-size: auto 200px;
  cursor: pointer;
}
#installer div.file-upload.dz-drag-hover {
  border-color: var(--pi-primary-color);
}

#installer .notifications {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  position: absolute;
  inset: 0;
  width: 100%;
  z-index: 100;
  padding: var(--pi-spacing-2);
  pointer-events: none;
}
#installer .notification {
  display: block;
  position: relative;
  width: 100%;
  max-width: 300px;
  padding: var(--pi-spacing-2);
  margin-bottom: 5px;
  border: 1px solid var(--pi-border-color);
  border-radius: var(--pi-border-radius-1);
  background: var(--pi-notification-bg-color);
  box-shadow: var(--pi-box-shadow-2);
  pointer-events: auto;
}
#installer .notification .title {
  color: var(--pi-title-color);
  font-size: var(--pi-font-size-title);
  font-weight: var(--pi-font-weight-bold);
  padding-right: 15px;
  margin-bottom: 5px;
}
#installer .notification.error .title, #installer .notification.warn .title, #installer .notification.info .title, #installer .notification.success .title {
  display: flex;
  align-items: center;
}
#installer .notification.error .title:before, #installer .notification.warn .title:before, #installer .notification.info .title:before, #installer .notification.success .title:before {
  content: "";
  display: block;
  position: relative;
  top: -1px;
  width: 18px;
  min-width: 18px;
  height: 18px;
  padding-right: 8px;
  background-size: contain;
  background-repeat: no-repeat;
}
#installer .notification.error .text, #installer .notification.warn .text, #installer .notification.info .text, #installer .notification.success .text {
  padding-left: 25px;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#installer .notification.error .title:before {
  background-image: url("/bundles/productinstaller/images/icons/error_circle.svg");
}
#installer .notification.warn .title:before {
  background-image: url("/bundles/productinstaller/images/icons/warn_circle.svg");
}
#installer .notification.success .title:before {
  background-image: url("/bundles/productinstaller/images/icons/check_circle.svg");
}
#installer .notification.info .title:before {
  background-image: url("/bundles/productinstaller/images/icons/info_circle.svg");
}
#installer .notification p {
  padding: 0;
  margin: 0;
  font-size: var(--pi-font-size-info);
  color: var(--pi-info-color);
}
#installer .notification button.close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: auto;
  height: auto;
  border: 0 none;
  padding: 3px;
  line-height: 1;
  margin: 0 0 0 auto;
  color: var(--pi-info-color);
  background: transparent;
}
#installer .notification button.close:after {
  display: block;
  content: "✕";
}
#installer .notification button.close:hover {
  color: var(--pi-text-color);
}

@media (min-width: 600px) {
  #installer .notifications {
    padding: var(--pi-spacing-4);
  }
}
#installer .divider {
  position: relative;
  border-top: 1px dashed var(--pi-divider-color-2);
  margin-top: 25px;
  margin-bottom: 30px;
}
#installer .divider:before {
  position: absolute;
  display: flex;
  content: "";
  bottom: 100%;
  width: 35px;
  left: 50%;
  height: 18px;
  transform: translateX(-50%) translateY(50%);
  background: url("/bundles/productinstaller/images/icons/arrow_down_circle.svg") center center no-repeat var(--pi-bg-color);
}
#installer .requirements-overview {
  position: relative;
  font-size: var(--pi-font-size-info);
  padding: 1px 0;
  overflow-y: hidden;
  overflow-x: auto;
}
#installer .requirement-item {
  white-space: nowrap;
}
#installer .requirement-item > .inside {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#installer .requirement-item .bundle {
  font-weight: 500;
}
#installer .requirement-item .bundle:before {
  display: inline-block;
  content: "";
  width: 7px;
  height: 7px;
  margin-right: 7px;
  border-radius: 50%;
  border: 1px solid var(--pi-badge-registered-border-color);
  background: var(--pi-badge-registered-bg-color);
}
#installer .requirement-item .version {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  font-size: var(--pi-font-size-small);
  color: var(--pi-info-color);
  padding-left: var(--pi-spacing-1);
}
#installer .requirement-item .version:before {
  position: relative;
  top: -1px;
  display: inline-block;
  content: "";
  width: 13px;
  min-width: 13px;
  height: 13px;
  margin-right: 5px;
  background-size: contain;
  background-position: center center;
}
#installer .requirement-item + .requirement-item {
  margin-top: 10px;
}
#installer .requirement-item.__true .version:before {
  background-image: url("/bundles/productinstaller/images/icons/version_check.svg");
}
#installer .requirement-item.__false {
  color: var(--pi-badge-removed-color);
}
#installer .requirement-item.__false .bundle:before {
  border-color: var(--pi-badge-removed-border-color);
  background: var(--pi-badge-removed-bg-color);
}
#installer .requirement-item.__false .version {
  color: var(--pi-badge-removed-color);
}
#installer .requirement-item.__false .version:before {
  background-image: url("/bundles/productinstaller/images/icons/version_error.svg");
}
#installer .task-item .inside {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 18px;
  border-radius: 3px;
  border: 1px solid var(--pi-border-color);
  border-bottom: 0;
  box-shadow: 0 1px 1px var(--pi-border-color), 0 8px 0 -5px var(--pi-box-bg-color), 0 8px 1px -4px var(--pi-border-color), 0 16px 0 -10px var(--pi-box-bg-color), 0 16px 1px -9px var(--pi-border-color);
}
#installer .task-item .content {
  flex-grow: 1;
  margin-right: 15px;
}
#installer .task-item .content .title {
  display: flex;
  align-items: center;
  font-size: var(--pi-font-size-title);
  font-weight: var(--pi-font-weight-semibold);
  color: var(--pi-title-color);
  margin-bottom: 10px;
}
#installer .task-item .content .title .badge {
  display: inline-block;
  margin-left: 9px;
}
#installer .task-item .content .description {
  font-size: var(--pi-font-size-info);
  line-height: var(--pi-line-height-paragraph);
}
#installer .task-item .actions {
  margin: 0;
  padding: 0;
  text-align: left;
}
#installer .task-item + .task-item {
  margin-top: 20px;
}
#installer .task-item.not-valid {
  cursor: not-allowed;
}

@media (min-width: 600px) {
  #installer .task-item .inside {
    align-items: center;
  }
}
#installer .console {
  font-family: -apple-system, system-ui, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-size: var(--pi-font-size-console);
  color: var(--pi-console-color);
  background: var(--pi-console-bg-color);
  border-radius: var(--pi-border-radius-1);
  padding: var(--pi-spacing-3);
  width: 100%;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #c7c7c7 #f0f0f0;
}
#installer .console .summary {
  position: relative;
  font-weight: 600;
  line-height: 1.2;
  padding-left: 35px;
}
#installer .console .summary.has-operation {
  cursor: pointer;
}
#installer .console .summary.has-operation:before {
  display: block;
  content: "⯈";
  position: absolute;
  left: 0;
  top: 4px;
  color: #bababa;
  font-size: 8px;
  line-height: 1;
}
#installer .console .summary:after {
  display: block;
  content: "";
  position: absolute;
  left: 15px;
}
#installer .console .operation {
  color: #bdbdbd;
  counter-reset: lines;
}
#installer .console .operation .line {
  counter-increment: lines;
  position: relative;
  min-height: 16px;
  padding-left: 40px;
  font-size: 12px;
  line-height: 16px;
  white-space: pre-wrap;
  word-break: break-word;
}
#installer .console .operation .line:before {
  display: inline-block;
  content: counter(lines);
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  margin-right: 15px;
  color: #6a6a6a;
  text-align: right;
}
#installer .console .operation .line:hover {
  background: rgba(255, 255, 255, 0.05);
}
#installer .console .operation .line:last-child:empty {
  display: none;
}
#installer .console > div {
  margin-bottom: 20px;
}
#installer .console > div.open .summary {
  margin-bottom: 15px;
}
#installer .console > div.open .summary:before {
  transform: rotateZ(90deg);
}
#installer .console > div[data-status=active] .summary:after {
  top: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px dotted var(--pi-loading-color);
  animation: pi-spin 0.7s linear infinite;
}
#installer .console > div[data-status=pending] .summary:after {
  top: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #4b4b4b;
}
#installer .console > div[data-status=complete] .summary:after {
  top: 1px;
  color: var(--pi-success-color);
  content: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNDggNDgiPgogICAgPHBvbHlnb24gZmlsbD0iIzQzQTA0NyIgcG9pbnRzPSI0MC42LDEyLjEgMTcsMzUuNyA3LjQsMjYuMSA0LjYsMjkgMTcsNDEuMyA0My40LDE0LjkiLz4KPC9zdmc+Cg==);
  width: 14px;
  height: 14px;
}
#installer .console > div[data-status=error] .summary:after, #installer .console > div[data-status=stopped] .summary:after {
  top: 1px;
  color: var(--pi-error-color);
  content: "✕";
}
#installer .console > div:last-child {
  margin-bottom: 0;
}
#installer .console.absolute {
  position: absolute;
  z-index: 10;
  inset: 1px;
  width: auto;
  margin-top: 0;
  overflow-y: auto;
}
#installer .console::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
#installer .console::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px #e3e3e3;
}
#installer .console::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
  border-radius: 10px;
}
#installer .console::-webkit-scrollbar-track, #installer .console::-webkit-scrollbar-thumb {
  border: 0 solid #a5a5a5;
}

#installer .prompt {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#installer .step-progress {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  pointer-events: none;
  margin: 0 auto -20px;
  padding-top: 30px;
}
#installer .step-progress .progress-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 0 2px;
}
#installer .step-progress .progress-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
  max-width: 164px;
  min-width: 164px;
  padding: 5px 0;
}
#installer .step-progress .progress-item .label {
  font-size: var(--pi-font-size-info);
  color: var(--pi-info-color);
}
#installer .step-progress .progress-item .indicator {
  position: relative;
  z-index: 10;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 9px;
  height: 9px;
  margin: 0 auto 13px;
  border-radius: 50%;
  border: 1px solid var(--pi-progress-bullet-border-active);
  background-color: var(--pi-progress-bullet-bg-active);
  outline: 10px solid var(--pi-bg-color);
}
#installer .step-progress .progress-item .indicator:before, #installer .step-progress .progress-item .indicator:after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 3px;
  width: 100px;
  border-bottom: 2px solid var(--pi-progress-bullet-from-color);
}
#installer .step-progress .progress-item .indicator:before {
  right: 100%;
}
#installer .step-progress .progress-item .indicator:after {
  left: 100%;
}
#installer .step-progress .progress-item.finish .indicator {
  border-color: var(--pi-progress-bullet-border-finish);
  background-color: var(--pi-progress-bullet-bg-finish);
}
#installer .step-progress .progress-item.pending .indicator {
  border-color: var(--pi-progress-bullet-border-pending);
  background-color: var(--pi-progress-bullet-bg-pending);
}
#installer .step-progress .progress-item.pending .indicator:before, #installer .step-progress .progress-item.pending .indicator:after {
  border-bottom-style: dashed;
  border-bottom-color: var(--pi-divider-color-2);
}
#installer .step-progress .progress-item.active {
  font-weight: 500;
}
#installer .step-progress .progress-item.active .indicator {
  border-color: var(--pi-progress-bullet-border-active);
  background-color: var(--pi-progress-bullet-bg-active);
}
#installer .step-progress .progress-item.active .indicator:before {
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, var(--pi-progress-bullet-from-color) 50%, var(--pi-progress-bullet-to-color) 100%);
}
#installer .step-progress .progress-item.active .indicator:after {
  border-bottom-style: dashed;
  border-bottom-color: var(--pi-divider-color-2);
}
#installer .step-progress:before, #installer .step-progress:after {
  display: block;
  position: absolute;
  content: "";
  z-index: 30;
  top: 0;
  bottom: 0;
  width: 50px;
  pointer-events: none;
}
#installer .step-progress:before {
  left: 0;
  background: linear-gradient(to right, var(--pi-bg-color) 0%, rgba(255, 255, 255, 0) 100%);
}
#installer .step-progress:after {
  right: 0;
  background: linear-gradient(to left, var(--pi-bg-color) 0%, rgba(255, 255, 255, 0) 100%);
}

/*# sourceMappingURL=backend.css.map */
