$console-background: #2e3031;

.console{
  font-family: -apple-system, system-ui, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-size: 13px;
  color: #fff;

  background: #2e3031;
  border-radius: 3px;

  margin-top: 15px;
  padding: 30px;
  width: 100%;

  overflow: auto;

  .summary{
    position: relative;

    font-weight: 600;
    line-height: 1.2;

    padding-left: 35px;

    &:has(+ .operation:not(:empty)){
      cursor: pointer;

      &:before{
        display: block;
        content: "⯈";
        position: absolute;
        left: 0;
        top: 4px;
        color: #bababa;
        font-size: 8px;
        line-height: 1;
      }
    }

    &:after{
      display: block;
      content: "";
      position: absolute;
      left: 15px;
    }
  }

  .operation{
    color: #bdbdbd;
    counter-reset: lines;

    .line{
      counter-increment: lines;
      position: relative;

      min-height: 16px;
      padding-left: 40px;

      font-size: 12px;
      line-height: 16px;
      word-break: break-word;

      &:before{
        display: inline-block;
        content: counter(lines);

        position: absolute;
        left: 0;
        top: 0;

        width: 25px;
        margin-right: 15px;

        color: #6a6a6a;
        text-align: right;
      }

      &:hover{
        background: rgba(255,255,255,.05);
      }

      &:last-child:empty{
        display: none;
      }
    }
  }

  > div{
    margin-bottom: 20px;

    &.open{

      .summary{
        margin-bottom: 15px;

        &:before{
          transform: rotateZ(90deg);
        }
      }
    }

    &[data-status="active"]{

      .summary:after{
        top: 3px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 2px dotted #d0ad15;
        animation: spin 1s linear infinite;
      }
    }

    &[data-status="pending"]{

      .summary:after{
        top: 3px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 2px solid #4b4b4b;
      }
    }

    &[data-status="complete"]{

      .summary:after{
        top: 1px;
        color: #1cb636;
        content: "🗸";
      }
    }

    &[data-status="error"],
    &[data-status="stopped"]{

      .summary:after{
        top: 1px;
        color: #fb5555;
        content: "✕";
      }
    }

    &:last-child{
      margin-bottom: 0;
    }
  }

  &.absolute{
    position: absolute;
    z-index: 10;
    inset: 1px;
    width: auto;
    margin-top: 0;
    overflow-y: auto;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;

    &-track {
      -webkit-box-shadow: inset 0 0 10px #5a5e60;
    }

    &-thumb {
      background-color: #718b9a;
      border-radius: 10px;
    }

    &-track,
    &-thumb {
      border: 0 solid $console-background;
    }
  }

  scrollbar-width: thin;
  scrollbar-color: $console-background #f0f0f0;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
