[data-connection-state] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  font-weight: 500;
  padding-bottom: 5px;
  overflow: hidden;

  &:before{
    display: block;
    content: "";
    width: 100%;
    height: 350px;
    margin: -50px 0;
  }
}

[data-connection-state="inactive"]{
  color: #688191;

  &:before {
    background: url('/bundles/productinstaller/icons/connection-lost.gif') center center no-repeat;
    background-size: auto 100%;
  }
}

[data-connection-state="active"]{
  color: #698e79;

  &:before {
    background: url('/bundles/productinstaller/icons/connection.gif') center center no-repeat;
    background-size: auto 100%;
  }
}
