$input-border-color: #688191;
$input-outline-color: rgb(104 129 145 / 33%);

#installer{

  form{

    &.fields{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: -15px;
    }
  }

  .widget{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px 0 0 0;

    h3{
      margin-bottom: 4px;
    }

    p{
      font-size: .8rem;
      margin: 2px 0 0;

      &.field-desc{
        height: 18px;
        width: auto;
        max-width: 100%;
        align-self: flex-start;
        overflow: hidden;
        cursor: help;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    label{
      display: inline-block;
      color: #222;
      font-size: .95rem;
      font-weight: 600;
    }

    label, legend{

      .info-helper{
        position: relative;
        top: -1px;

        display: inline-flex;
        justify-content: center;
        align-items: center;

        width: 12px;
        height: 12px;
        padding: 3px;
        margin-left: 5px;

        font-size: 11px;
        font-weight: 400;

        color: #fff;
        background: #c9c9c9;
        border-radius: 50%;
        cursor: pointer;

        &:hover{
          background: $background-color;
        }
      }
    }

    &.w50{
      width: 48%;
    }

    &.m22{
      padding-top: 22px;
    }

    &.center{
      align-items: center;
    }

    &.text, &.file{

      input{
        font-size: .9rem;
        line-height: 0;
        border: 1px solid $input-border-color;
        border-radius: 3px;
        outline-color: $input-outline-color;
        padding: 6px 10px;

        &:focus{
          outline-width: 3px;
          outline-style:solid;
        }

        &::placeholder {
          color: $text-color-info;
        }

        &#license{
          letter-spacing: .8px;
        }
      }
    }

    &.file{

      input{
        cursor: pointer;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZmlsbD0ibm9uZSIgaGVpZ2h0PSIyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xMyAyMUgzLjZDMy4yNjg2MyAyMSAzIDIwLjczMTQgMyAyMC40VjMuNkMzIDMuMjY4NjMgMy4yNjg2MyAzIDMuNiAzSDIwLjRDMjAuNzMxNCAzIDIxIDMuMjY4NjMgMjEgMy42VjEzIiBzdHJva2U9IiM1NjY5NzQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjxwYXRoIGQ9Ik0zIDE2TDEwIDEzTDE1LjUgMTUuNSIgc3Ryb2tlPSIjNTY2OTc0IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48cGF0aCBkPSJNMTYgMTBDMTQuODk1NCAxMCAxNCA5LjEwNDU3IDE0IDhDMTQgNi44OTU0MyAxNC44OTU0IDYgMTYgNkMxNy4xMDQ2IDYgMTggNi44OTU0MyAxOCA4QzE4IDkuMTA0NTcgMTcuMTA0NiAxMCAxNiAxMFoiIHN0cm9rZT0iIzU2Njk3NCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PHBhdGggZD0iTTE2IDE5SDE5TTIyIDE5SDE5TTE5IDE5VjE2TTE5IDE5VjIyIiBzdHJva2U9IiM2ODgxOTEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==);
        background-repeat: no-repeat;
        background-position: right 7px center;
        background-size: 20px;

        padding: 6px 30px 6px 10px;
        text-overflow:ellipsis
      }
    }

    &.checkbox{

      &:not(.multiple) {
        height: 19px;
      }

      input{
        position: absolute;
        z-index: 0;
        -webkit-appearance: none;

        &:disabled + label{
          cursor: default;

          &:before, &:after{
            filter: grayscale(1) opacity(0.5);
          }
        }

        &:checked + label{

          &:before {
            border-color: $primary-color;
            background-color: rgb(224 232 237 / 55%);
          }

          &:after {
            opacity: 1;
          }
        }
      }

      label {
        position: relative;
        cursor: pointer;
        line-height: 1.3;
        padding-left: 31px;
        font-weight: 400;

        span{
          display: inline-block;
          margin-left: 10px;
          color: $text-color-info;
        }

        &[for^="check_all_"]{
          filter: grayscale(1) brightness(1.2);
          margin-bottom: 9px;
          font-size: .9rem;
        }

        &:before {
          content: "";

          width: 20px;
          height: 20px;

          border-radius: 5px;
          border: 1px solid $input-border-color;
          background-color: #fbfbfb;

          transition: color 0.2s linear, background-color 0.2s ease-in-out;
          position: absolute;
          left: 0;
          top: -2px;
          z-index: 5;
        }

        &:after {
          opacity: 0;
          content: "";

          position: absolute;
          left: 6px;
          top: 4px;

          width: 10px;
          height: 10px;

          background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjAuMjg1IDJsLTExLjI4NSAxMS41NjctNS4yODYtNS4wMTEtMy43MTQgMy43MTYgOSA4LjcyOCAxNS0xNS4yODV6Ii8+PC9zdmc+");
          background-size: contain;

          transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
          z-index: 10;
        }
      }
    }

    &.error{

      label, p{
        color: $text-color-error;
      }

      input {
        border-color: $text-color-error;
      }
    }
  }

  fieldset {
    margin-top: 0;

    legend {
      margin-bottom: 8px;
    }

    .tl_checkbox + label{
      width: 100%;
      margin: 3px 0;
    }
  }

  /**
   * Tom-Select overwrites
   */
  .ts-wrapper.multi .ts-control > div.active {
    background: #688191;
  }

  .focus .ts-control{
    box-shadow: none;
    outline-width: 3px;
    outline-style:solid;
  }

  .ts-control{
    border-radius: 3px;
    border-color: $input-border-color;
    outline-color: $input-outline-color;
  }

  .ts-dropdown{

    .option{
      position: relative;

      span.info{
        position: absolute;
        right: 10px;
        top: 4px;
        color: $text-color-info;
        background: rgba(255,255,255,.8);
        border-radius: 4px;
        padding: 0 4px;
      }

      span.text{
        display: inline-block;
        padding-left: calc(var(--level, 0) * 10px);

        &:before{
          content: "";
          display: inline-block;

          position: relative;
          top: 4px;

          width: 18px;
          height: 18px;
          margin-right: 5px;

          background-image: url("/bundles/productinstaller/icons/connect.svg");
          background-size: contain;
          background-repeat: no-repeat;
        }
      }

      &.disconnect span:before{
        background-image: url("/system/themes/flexible/icons/parent.svg");
      }

      &.layout span:before{
        background-image: url("/system/themes/flexible/icons/layout.svg");
      }

      &.root span:before{
        background-image: url("/system/themes/flexible/icons/pagemounts.svg");
      }

      &.copy span:before{
        background-image: url("/system/themes/flexible/icons/copy.svg");
      }

      &.forward span:before{
        background-image: url("/system/themes/flexible/icons/forward.svg");
      }

      &.regular span:before{
        background-image: url("/system/themes/flexible/icons/regular.svg");
      }

      &.article span:before{
        background-image: url("/system/themes/flexible/icons/articles.svg");
      }

      &.article_inv span:before{
        background-image: url("/system/themes/flexible/icons/articles_.svg");
      }
    }
  }

}

@media (min-width: 600px) {
  #installer {

    .widget {

      &.w50 {
        width: 48%;
      }
    }
  }
}
