#installer{

  .license-connector-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .license-connector{
    width: 100%;

    > .inside{
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 3px;
      margin: 0 -10px;
      padding: 10px;
      cursor: pointer;

      &:after{
        display: flex;
        content: "";
        align-items: center;
        width: 25px;
        height: 25px;
        opacity: .2;
        background: url('/bundles/productinstaller/icons/arrow_right.svg') center center no-repeat;
      }

      &:hover{
        background: rgb(104 129 145 / 4%);

        &:after{
          opacity: 1;
        }
      }
    }

    .image{
      position: relative;
      width: 65px;
      min-width: 65px;
      height: 65px;
      padding: 10px;
      margin: 0 auto 20px;

      border: 1px solid #ebebeb;
      border-radius: 4px;
      box-shadow: rgb(0 0 0 / 15%) 0 5px 15px 0;
      background: #fff;

      overflow: hidden;

      img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }

    .content{
      width: 100%;

      .title{
        color: #222;
        font-size: .95rem;
        font-weight: 600;
        margin-bottom: 6px;
      }

      .description{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        line-height: 1.25em;
        color: $text-color;
      }

      .version{
        margin-top: 7px;
        color: $text-color-info;
      }
    }

    + .license-connector{
      margin-top: 15px;
    }
  }
}

@media (min-width: 600px) {
  #installer {

    .license-connector {

      > .inside{
        flex-direction: row;
      }

      .image{
        margin: 0 20px 0 0;
      }

      .content{
        width: calc(100% - 80px);
        margin-right: 10px;
      }
    }
  }
}
