#installer{

  .process{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    &-step{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 25px;
      width: 100%;

      [data-loader]{
        width: 50px;
      }

      .content{
        width: calc(100% - 50px);

        .title{
          color: #222;
          font-size: .95rem;
          font-weight: 500;
          margin-bottom: 6px;
        }

        p{
          font-size: .9rem;
          line-height: 1.25em;
          color: $text-color;
          margin: 0;
        }
      }

      .actions{
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: right;
        align-self: center;

        button{
          margin: 0;
        }
      }

      .errors{
        width: 100%;
        padding-left: 50px;
        margin: 0;

        > p{
          margin: 2px 0 0;
          font-size: .8rem;
          color: $text-color-error;
        }

        &:not(:empty){
          margin-top: 5px;
        }
      }

      &.not-active{
        opacity: .5;
      }
    }

    .subtasks{

      .process-step{

        &:last-child{
          margin-bottom: 0;
        }
      }

      &:not(:empty) {
        margin-top: 20px;
      }
    }
  }
}

@media (min-width: 600px) {
  #installer{

    .process{

      &-step{

        /*.content{
          width: calc(100% - 200px);
        }

        .actions{
          width: 150px;
        }*/
      }
    }
  }
}
