#installer{

  .divider{
    position: relative;
    border-top: 1px dashed #d5d5d5;
    margin-top: 25px;
    margin-bottom: 25px;

    &:before{
      position: absolute;
      display: flex;
      content: "";
      bottom: 100%;
      width: 35px;
      left: 50%;
      height: 18px;
      transform: translateX(-50%) translateY(50%);
      background: url('/bundles/productinstaller/icons/arrow_down.svg') center center no-repeat #fff;
    }
  }

  .requirements-overview + .tasks-overview{
    margin-top: 25px;
  }

  .requirements-overview{
    counter-set: requirement-counter;

    &:empty + .divider{
      display: none;
    }
  }

  .requirement-item{
    counter-increment: requirement-counter;

    > .inside{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-weight: 500;
    }

    .bundle{

      &:before{
        display: inline-block;
        content: counter(requirement-counter);
        color: #b6b6b6;
        margin-right: 6px;
      }
    }

    .version{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;

      &:after{
        display: inline-block;
        content: "";
        width: 15px;
        height: 17px;
        margin-left: 9px;
        background-size: contain;
        background-position: center center;
      }

      &.__true{
        color: #048904;

        &:after{
          background-image: url('/bundles/productinstaller/icons/check_rounded.svg');
        }
      }

      &.__false{
        color: #892404;

        &:after{
          background-image: url('/bundles/productinstaller/icons/cross_rounded.svg');
        }
      }
    }

    + .requirement-item{
      margin-top: 7px;
    }
  }

  .task-item{

    .inside{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 18px;
      border-radius: 3px;

      border: 1px solid rgb(218 218 218);
      border-bottom: 0;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),
                  0 8px 0 -5px #fdfdfd,
                  0 8px 1px -4px rgba(0, 0, 0, 0.15),
                  0 16px 0 -10px #f8f8f8,
                  0 16px 1px -9px rgba(0, 0, 0, 0.15);
    }

    .content{
      flex-grow: 1;
      margin-right: 15px;

      .title {
        display: flex;
        align-items: center;

        font-size: 0.95rem;
        font-weight: 600;
        color: #222;

        margin-bottom: 10px;

        &:before{
          content: "";
          display: block;
          width: 23px;
          height: 23px;
          margin-right: 10px;
          background-image: url('/bundles/productinstaller/icons/task_default.svg');
          background-repeat: no-repeat;
          background-size: contain;
        }

        &.content_package:before{
          background-image: url('/bundles/productinstaller/icons/task_content_package.svg');
        }
      }

      .description{
        line-height: 1.25em;
        color: #495258;
      }
    }

    .actions{
      margin: 0;
      padding: 0;
      text-align: left;
    }

    + .task-item{
      margin-top: 20px;
    }

    &.not-valid{
      opacity: .5;
      cursor: not-allowed;
    }
  }
}
